<!-- OSSEC example config -->

<ossec_config>
  {% if ossec_active_response_disabled is defined %}
  <active-response>
    <disabled>{{ ossec_active_response_disabled }}</disabled>
  </active-response>
  {% endif %}
  <client>
    {% if ossec_server_ip is defined %}
    <server-ip>{{ ossec_server_ip }}</server-ip>
    {% endif %}
    {% if ossec_server_fqdn is defined %}
    <server-hostname>{{ ossec_server_fqdn }}</server-hostname>
    {% endif %}
    {% if ossec_profile is defined %}
    <config-profile>{{ ossec_profile }}</config-profile>
    {% endif %}
  </client>
</ossec_config>
